<div>
  <table id="table" data-toggle="table">

  </table>
  <div id="toolbar" class="toolbar">
    <span class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(true)">
      <a class="fa fa-plus"></a> 新增</span>
    <span id="modifyBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(false)">
      <a class="fa fa-pencil-alt"></a> 修改</span>
    <span id="deleteBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="openConfirmDeleteDialog()">
      <a class="fa fa-times"></a> 删除</span>
      <input size="16" type="text" class="form_datetime form-control form-control-sm toolbar-icon" value="" readonly placeholder="请选择日期">
      <select class="form-control form-control-sm course-select toolbar-icon">
        <option>Small select</option>
      </select>
      <select class="form-control form-control-sm teacher-select toolbar-icon">
        <option>Small select</option>
      </select>
  </div>



  <div class="modal fade" id="addOrModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content course-add-modify-dialog-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{addModifyDialogTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="form">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="row">
                    <label for="timezone" class="col-form-label col-form-label-sm">时间</label>
                    <div class="col-form-control">
                      <input id="courseTeacher" autocomplete="off" type="text"
                        class="form-control form-control-sm timezone" formControlName="timezone">
                      <div *ngIf="formErrors.timezone" class="showerr alert-danger">{{ formErrors.timezone }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label for="courseName" class="col-form-label col-form-label-sm">课程</label>
                    <div class="col-form-control">
                      <input id="courseName" autocomplete="off" type="text" class="form-control form-control-sm courseName"
                        formControlName="courseName">
                      <div *ngIf="formErrors.courseName" class="showerr alert-danger">{{ formErrors.courseName }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <div class="row">
                    <label for="teacherName" class="col-form-label col-form-label-sm">教师</label>
                    <div class="col-form-control">
                      <input id="teacherName" autocomplete="off" type="text" class="form-control form-control-sm teacherName"
                        formControlName="teacherName">
                      <div *ngIf="formErrors.teacherName" class="showerr alert-danger">{{ formErrors.teacherName }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <label for="room" class="col-form-label col-form-label-sm">教室</label>
                    <div class="col-form-control">
                      <input id="room" autocomplete="off" type="text" class="form-control form-control-sm room"
                        formControlName="room">
                      <div *ngIf="formErrors.room" class="showerr alert-danger">{{ formErrors.room }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="row">
                    <label for="students" class="col-form-label col-form-label-sm">学生</label>
                    <div class="col-form-control">
                      <input id="students" autocomplete="off" type="text" class="form-control form-control-sm students"
                        formControlName="students">
                      <div *ngIf="formErrors.students" class="showerr alert-danger">{{ formErrors.students }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button id="submit-btn" type="button" class="btn btn-outline-primary btn-sm"
            (click)="onSubmit()">{{isAdd?'添加':'修改'}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 删除前的警告框 -->
  <div class="modal fade" id="confirmDeleteDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog confirm-delete-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          确认删除吗？
        </div>
        <div class="modal-footer">
          <span class="btn btn-outline-primary btn-sm" (click)="removeItems()">确认</span>
        </div>
      </div>
    </div>
  </div>

</div>