<div>
  <table id="courseMngTable" data-toggle="table">

  </table>
  <div id="toolbar">
    <span class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(true)">
      <a class="fa fa-plus"></a> 新增</span>
    <span id="modifyBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(false)">
      <a class="fa fa-pencil-alt"></a> 修改</span>
    <span id="deleteBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="removeItems()">
      <a class="fa fa-times"></a> 删除</span>
  </div>



  <div class="modal fade" id="addOrModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{addModifyDialogTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <span class="textbox-label">课程-教师</span>
                <input type="text" class="form-control studentNum ">
              </div>
              <div class="col-md-6">
                <span class="textbox-label textbox-label-right">学时</span>
                <input type="text" class="form-control form-control-right phone">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="textbox-label">费用</span>
                <input type="text" class="form-control name">
              </div>
              <div class="col-md-6">
                <span class="textbox-label textbox-label-right">评论</span>
                <input type="text" class="form-control form-control-right parentPhone">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary btn-sm">添加</button>
        </div>
      </div>
    </div>
  </div>

</div>