<div>
  <table id="table" data-toggle="table">
     
  </table>
  <div id="toolbar">
    <span class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(true)"><a class="fa fa-plus"></a> 新增</span>
    <span id="modifyBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(false)"><a class="fa fa-pencil-alt"></a> 修改</span>
    <span id="deleteBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="openConfirmDeleteDialog()"><a class="fa fa-times"></a> 删除</span>
  </div>


  <div class="modal fade" id="addOrModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content student-course-add-modify-dialog-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{addModifyDialogTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="form" >
        <div class="modal-body">
          <div class="container-fluid">
             <div class="form-group row">
                <div class="col-md-6">
                    <div class="row">
                        <label for="name" class="col-form-label col-form-label-sm">姓名</label>
                    <div class="col-form-control">
                       <input id="name" autocomplete="off" type="text" class="form-control form-control-sm name" formControlName="name">
                       <div *ngIf="formErrors.name" class="showerr alert-danger" >{{ formErrors.name }}</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="row">
                          <label for="applyDate" class="col-form-label col-form-label-sm">报班日期</label>
                      <div class="col-form-control">
                         <input id="applyDate" autocomplete="off" type="text" class="form-control form-control-sm applyDate" formControlName="applyDate">
                         <div *ngIf="formErrors.applyDate" class="showerr alert-danger" >{{ formErrors.applyDate }}</div>
                      </div>
                      </div>
                    </div>
             </div>
             <div class="form-group row">
                <div class="col-md-6">
                    <div class="row">
                        <label for="course" class="col-form-label col-form-label-sm">课程</label>
                    <div class="col-form-control">
                       <input id="course" autocomplete="off" type="text" class="form-control form-control-sm course" formControlName="course">
                       <div *ngIf="formErrors.course" class="showerr alert-danger" >{{ formErrors.course }}</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="row">
                          <label for="availableTimes" class="col-form-label col-form-label-sm">可用次数</label>
                      <div class="col-form-control">
                         <input id="availableTimes" autocomplete="off" type="text" class="form-control form-control-sm availableTimes" formControlName="availableTimes">
                         <div *ngIf="formErrors.availableTimes" class="showerr alert-danger" >{{ formErrors.availableTimes }}</div>
                      </div>
                      </div>
                    </div>
          </div>
           
            <div class="form-group row">
          
                <div class="col-md-6">
                    <div class="row">
                        <label for="teacherName" class="col-form-label col-form-label-sm">教师</label>
                    <div class="col-form-control">
                       <input id="teacherName" autocomplete="off" type="text" class="form-control form-control-sm teacherName" formControlName="teacherName">
                       <div *ngIf="formErrors.teacherName" class="showerr alert-danger" >{{ formErrors.teacherName }}</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="row">
                          <label for="score" class="col-form-label col-form-label-sm">成绩</label>
                      <div class="col-form-control">
                         <input id="score" autocomplete="off" type="text" class="form-control form-control-sm score" formControlName="score">
                         <div *ngIf="formErrors.score" class="showerr alert-danger" >{{ formErrors.score }}</div>
                      </div>
                      </div>
                    </div>
          </div>
            <div class="row">
              
                <div class="col-md-6">
                    <div class="row">
                        <label for="feedback" class="col-form-label col-form-label-sm">反馈</label>
                    <div class="col-form-control">
                       <input id="feedback" autocomplete="off" type="text" class="form-control form-control-sm feedback" formControlName="feedback">
                       <div *ngIf="formErrors.feedback" class="showerr alert-danger" >{{ formErrors.feedback }}</div>
                    </div>
                    </div>
                  </div>
            </div>

          </div>

        </div>
        </form>
        <div class="modal-footer">
          <button id="submit-btn" type="button" class="btn btn-outline-primary btn-sm" (click)="onSubmit()">{{isAdd?'添加':'修改'}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 删除前的警告框 -->
<div class="modal fade" id="confirmDeleteDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog confirm-delete-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          确认删除吗？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" (click)="removeItems()">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>