.toolbar-icon {
    margin: 0 2px;
}

.toolbar-icon.disabled{
    pointer-events: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

.textbox-label {
    width: 35px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.textbox-label-right {
    width: 80px;
}

.form-control form-control-sm {
    width: calc(100% - 55px);
    display: inline-block;
}

.form-control form-control-sm-right {
    width: calc(100% - 100px);
}


.student-course-add-modify-dialog-content{
    width: 700px;
}

.student-course-add-modify-dialog-content .row{
    display: flex;
    margin-right: 0;
}

.student-course-add-modify-dialog-content .col-form-label{
    margin-right: 20px;
    text-align: right;
    display: inline-block;
    width: 70px;
}

.student-course-add-modify-dialog-content .col-form-control{
    display: inline-block;
    flex: 1;
}