<div>
  <table id="studentMngTable" data-toggle="table">
     
  </table>
  <div id="toolbar">
    <span class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(true)"><a class="fa fa-plus"></a> 新增</span>
    <span id="modifyBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(false)"><a class="fa fa-pencil-alt"></a> 修改</span>
    <span id="deleteBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="openConfirmDeleteDialog()"><a class="fa fa-times"></a> 删除</span>
  </div>


  <div class="modal fade" id="addOrModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered student-management-dialog" role="document">
      <div class="modal-content student-add-modify-dialog-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{addModifyDialogTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="form">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="row">
                            <label for="studentNum" class="col-form-label col-form-label-sm">学号</label>
                        <div class="col-form-control">
                           <input id="studentNum" type="text" class="form-control form-control-sm studentNum" formControlName="studentNum" [(ngModel)]="addOrModifyRowData.studentNum">
                           <div *ngIf="formErrors.studentNum" class="showerr alert-danger" >{{ formErrors.studentNum }}</div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                              <label for="phone" class="col-form-label col-form-label-sm">手机</label>
                              <div class="col-form-control">
                                <input id="phone" type="text" class="form-control form-control-sm form-control form-control-sm-right phone" formControlName="phone" [(ngModel)]="addOrModifyRowData.phone">
                                <div *ngIf="formErrors.phone" class="showerr alert-danger" >{{ formErrors.phone }}</div>
                              </div>
                          </div>
                        </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="row">
                            <label for="name" class="col-form-label col-form-label-sm">姓名</label>
                            <div class="col-form-control">
                            <input id="name" type="text" class="form-control form-control-sm name" formControlName="name" [(ngModel)]="addOrModifyRowData.name">
                            <div *ngIf="formErrors.name" class="showerr alert-danger" >{{ formErrors.name }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                      <label for="parentPhone" class="col-form-label col-form-label-sm">父母手机</label>
                      <div class="col-form-control">
                      <input id="parentPhone" type="text" class="form-control form-control-sm form-control form-control-sm-right parentPhone" formControlName="parentPhone" [(ngModel)]="addOrModifyRowData.parentPhone">
                      <div *ngIf="formErrors.parentPhone" class="showerr alert-danger" >{{ formErrors.parentPhone }}</div>
                    </div>
                    </div>
                    </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-6">
                        <div class="row">
                            <label for="sex" class="col-form-label col-form-label-sm">性别</label>
                            <div class="col-form-control">
                                <select id="sex" class="form-control form-control-sm sex" formControlName="sex" [(ngModel)]="addOrModifyRowData.sex">
                                    <option selected>男</option>
                                    <option>女</option>
                                  </select>
                              <div *ngIf="formErrors.sex" class="showerr alert-danger" >{{ formErrors.sex }}</div>
                            </div>
                        </div>
                       
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                            <label for="address" class="col-form-label col-form-label-sm">地址</label>
                            <div class="col-form-control">
                        <input id="address" type="text" class="form-control form-control-sm form-control form-control-sm-right address" formControlName="address" [(ngModel)]="addOrModifyRowData.address">
                        <div *ngIf="formErrors.address" class="showerr alert-danger" >{{ formErrors.address }}</div>
                            </div>
                        </div>
                        
                      </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                          <div class="row">
                              <label for="age" class="col-form-label col-form-label-sm">年龄</label>
                              <div class="col-form-control">
                              <input id="age" type="text" class="form-control form-control-sm age" formControlName="age" [(ngModel)]="addOrModifyRowData.age">
                              <div *ngIf="formErrors.age" class="showerr alert-danger" >{{ formErrors.age }}</div>
                              </div>
                          </div>
                         
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                              <label for="course" class="col-form-label col-form-label-sm">课程</label>
                              <div class="col-form-control">
                              <input id="course" type="text" class="form-control form-control-sm form-control form-control-sm-right" formControlName="course" [(ngModel)]="addOrModifyRowData.course">
                              <div *ngIf="formErrors.course" class="showerr alert-danger" >{{ formErrors.course }}</div>
                            </div>
                          </div>
                         
                        </div>
                      </div>
              </div>
            
            
           

            </div>

          </div>
        </form>
        <div class="modal-footer">
          <button id="submit-btn" type="submit" class="btn btn-outline-primary btn-sm" (click)="onSubmit()">{{isAdd?'添加':'修改'}}</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- 删除前的警告框 -->
<div class="modal fade" id="confirmDeleteDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog confirm-delete-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">提示</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        确认删除吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="removeItems()">确认</button>
      </div>
    </div>
  </div>
</div>