<div class="container-fluid login-view-bg">
</div>

<div class="container-fluid login-view">
  <div class="row align-items-center">
    <div class="container login-pane">
      <div class="row rounded">
        <div class="col-7 left-pane">
          <span>
            {{appName}}
          </span>
        </div>
        <div class="col-5 right-pane">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <form class="login-form" [formGroup]="form">
                  <span class="form-title">
                    账号登录
                  </span>
                  <div class="form-group">
                    <input class="form-control form-control-sm" placeholder="用户名" [(ngModel)]="username" formControlName="username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-sm" placeholder="密码" [(ngModel)]="psd" formControlName="psd">
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="onSubmit()">登录</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>