.right-pane {
    box-shadow: 1px 1px 3px black;
    height: 100%;
    background-color: #262D35;
}

.right-pane>div {
    height: 100%;
}

.login-view-bg {
    height: 100%;
    background-image: url("../../assets/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
}

.login-view {
    height: 100%;
    width: 100%;
    --paddingVertical:0;
    background-image: url("../../assets/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--paddingVertical) calc(50% - 300px);  /*垂直方向上的padding百分比是按照父级元素的width来计算的*/
    background-clip: content-box;
    z-index: 1;
    position: absolute;
}

.login-view>.row {
    margin: 0;
}

.login-view>div {
    height: 100%;
}

.login-pane {
    height: 400px;
    width: 600px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-pane>div {
    height: 100%;
}

.form-title {
    color: gray;
    text-align: center;
    font-size: 25px;
    padding: 3px 0;
    margin: 28px 0;
    display: inline-block;
    border-bottom: 3px solid gray;
}

.left-pane {
    background-image: url("../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: 200px;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 78%;
    color: white;
    font-size: 30px;
    box-shadow: -1px 1px 3px black;
    padding-top: 85px;
    font-size: 30px;
    text-align: center;
}

.login-form {
    text-align: center;
}

.login-form .form-group {
    padding: 10px 0;
    position: relative;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}

@-webkit-keyframes showErrAnimation
    {
        from {opacity: 0;}
        to { opacity: 1;}
    }

.login-form .login-error-msg{
    display: inline-block;
    height: 0;
    transition: all 0.3s;
    color: red;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 46px;
    animation: showErrAnimation 0.3s;
}

.login-form .login-error-msg-show{
    height: 12px;
}