.right-pane {
    box-shadow: 1px 1px 3px black;
    height: 100%;
}

.right-pane>div {
    height: 100%;
}

.login-view-bg {
    height: 100%;
    background-image: url("../../assets/images/login-bg.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
}

.login-view-bg-clear {
    height: 100%;
    background-image: url("../../assets/images/login-bg.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.login-view {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/images/login-bg.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    padding: calc(25% - 193px) calc(50% - 300px);
    background-clip: content-box;
    z-index: 1;
    position: absolute;
}

.login-view>.row {
    margin: 0;
}

.login-view>div {
    height: 100%;
}

.login-pane {
    height: 400px;
    width: 600px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-pane>div {
    height: 100%;
}

.form-title {
    color: gray;
    text-align: center;
    font-size: 25px;
    padding: 3px 0;
    margin: 28px 0;
    display: inline-block;
    border-bottom: 3px solid gray;
}

.left-pane {
    background-image: url("../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: 200px;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 78%;
    color: white;
    font-size: 30px;
    box-shadow: -1px 1px 3px black;
    padding-top: 85px;
    font-size: 30px;
    text-align: center;
}

.login-form {
    text-align: center;
}

.login-form .form-group {
    padding: 10px 0;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}