.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin: 0;
}

.navbar-nav {
    float: right;
}

.navbar-brand span {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 1.1em;
}

.navbar-brand span::before {
    background: url("../../images/logo.PNG") no-repeat;
    background-size: 70px;
    width: 70px;
    height: 50px;
    display: inline-block;
    content: "";
    float: left;
}

.navbar-collapse {
    border: 0px;
}

.navbar-collapse {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .navbar-brand span {
        margin-bottom: 0;
        line-height: 50px;
        font-size: 0.8em;
    }
    
    .navbar-brand span::before {
        background: url("../../images/logo.PNG") no-repeat;
        background-size: 50px;
        width: 50px;
        height: 40px;
        display: inline-block;
        content: "";
        float: left;
    }
}

@media (max-width: 320px) {
    .navbar-brand {
        margin-right: 0;
    }
    .navbar-brand span {
        margin-bottom: 0;
        line-height: 50px;
        font-size: 0.65em;
    }
    .navbar-toggler {
        padding: 0;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
}