.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #262D35 !important;
    margin-bottom: 0;
}

.navbar-nav {
    float: right;
}

.navbar-nav a {
    color: gray;
}

.navbar-nav a:hover {
    color: white;
}

.navbar-brand {
    color: white;
    float: left;
}

.navbar-brand h5 {
    display: inline-block;
    margin-bottom: 0;
    line-height: 50px;
}

.navbar-brand h5::before {
    background: url("../../images/logo.PNG") no-repeat;
    background-size: 70px;
    width: 70px;
    height: 50px;
    display: inline-block;
    content: "";
    float: left;
}

.navbar-brand:hover {
    color: white;
}

.navbar-collapse {
    border: 0px;
}

.navbar-collapse {
    justify-content: flex-end;
}