<div class="app-header">
  <div class="logo-pane">
    <div class="logo-img-pane"></div>
    <div class="logo-description-pane">乐尔夫培训系统后台</div>
  </div>
  <div class="header-buttons-pane">
    <div class="button-pane">
      <div class="user-img-pane"></div>
      <div class="button-label">用户</div>
    </div>
    <div class="button-pane">
      <div class="settings-img-pane"></div>
      <div class="button-label">设置</div>
    </div>
    <div class="button-pane">
      <div class="logout-img-pane"></div>
      <div class="button-label">退出</div>
    </div>
  </div>
</div>
