.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #262D35 !important;
    margin-bottom: 0;
}

.navbar-nav {
    float: right;
}

.navbar-nav a {
    color: gray;
}

.navbar-nav a:hover {
    color: white;
}

.navbar-brand {
    color: white;
    float: left;
}

.navbar-brand span {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 1.1em;
}

.navbar-brand span::before {
    background: url("../../images/logo.PNG") no-repeat;
    background-size: 70px;
    width: 70px;
    height: 50px;
    display: inline-block;
    content: "";
    float: left;
}

.navbar-brand:hover {
    color: white;
}

.navbar-collapse {
    border: 0px;
}

.navbar-collapse {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .navbar-brand span {
        margin-bottom: 0;
        line-height: 50px;
        font-size: 0.8em;
    }

    .navbar-brand span::before {
        background: url("../../images/logo.PNG") no-repeat;
        background-size: 50px;
        width: 50px;
        height: 40px;
        display: inline-block;
        content: "";
        float: left;
    }
}

@media (max-width: 320px) {
    .navbar-brand{
        margin-right: 0;
    }
    .navbar-brand span {
        margin-bottom: 0;
        line-height: 50px;
        font-size: 0.65em;
    }
}