<div class="container-fluid">
    <table id="teacherFinanceMngTable" data-toggle="table">
    </table>
    <div id="toolbar">
        <span class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(true)"><a class="fa fa-plus"></a> 新增</span>
        <span id="modifyBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(false)"><a class="fa fa-pencil-alt"></a> 修改</span>
        <span id="deleteBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="openConfirmDeleteDialog()"><a class="fa fa-times"></a> 删除</span>
      </div>

      <div class="modal fade" id="addOrModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" (hidden.bs.modal)="alert(1)">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content teacher-finance-add-modify-dialog-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">{{addModifyDialogTitle}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="form">
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="row">
                                <label for="name" class="col-form-label col-form-label-sm">姓名</label>
                            <div class="col-form-control">
                               <input id="name" autocomplete="off" type="text" class="form-control form-control-sm name" formControlName="name">
                               <div *ngIf="formErrors.name" class="showerr alert-danger" >{{ formErrors.name }}</div>
                            </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row">
                                  <label for="paidSalary" class="col-form-label col-form-label-sm">已付工资</label>
                              <div class="col-form-control">
                                 <input id="paidSalary" autocomplete="off" type="text" class="form-control form-control-sm paidSalary" formControlName="paidSalary">
                                 <div *ngIf="formErrors.paidSalary" class="showerr alert-danger" >{{ formErrors.paidSalary }}</div>
                              </div>
                              </div>
                            </div>
                     </div>

                     <div class="form-group row">
                        <div class="col-md-6">
                            <div class="row">
                                <label for="unPaidSalary" class="col-form-label col-form-label-sm">未付工资</label>
                            <div class="col-form-control">
                               <input id="unPaidSalary" autocomplete="off" type="text" class="form-control form-control-sm unPaidSalary" formControlName="unPaidSalary">
                               <div *ngIf="formErrors.unPaidSalary" class="showerr alert-danger" >{{ formErrors.unPaidSalary }}</div>
                            </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row">
                                  <label for="arrearage" class="col-form-label col-form-label-sm">欠款</label>
                              <div class="col-form-control">
                                 <input id="arrearage" autocomplete="off" type="text" class="form-control form-control-sm arrearage" formControlName="arrearage">
                                 <div *ngIf="formErrors.arrearage" class="showerr alert-danger" >{{ formErrors.arrearage }}</div>
                              </div>
                              </div>
                            </div>
                     </div>

                     <div class="form-group row">
                        <div class="col-md-6">
                            <div class="row">
                                <label for="date" class="col-form-label col-form-label-sm">发放日期</label>
                            <div class="col-form-control">
                               <input id="date" type="text" autocomplete="off" class="form-control form-control-sm date" formControlName="date">
                               <div *ngIf="formErrors.date" class="showerr alert-danger" >{{ formErrors.date }}</div>
                            </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row">
                                  <label for="period" class="col-form-label col-form-label-sm">间隔(月/年)</label>
                              <div class="col-form-control">
                                 <input id="period" autocomplete="off" type="text" class="form-control form-control-sm period" formControlName="period">
                                 <div *ngIf="formErrors.period" class="showerr alert-danger" >{{ formErrors.period }}</div>
                              </div>
                              </div>
                            </div>
                     </div>
                     
                
                
                  
                  </div>
    
                </div>
    
            </form>
            <div class="modal-footer">
                    <button id="submit-btn" type="submit" class="btn btn-outline-primary btn-sm" (click)="onSubmit()">{{isAdd?'添加':'修改'}}</button>

            </div>
          </div>
        </div>
      </div>
      <!-- 删除前的警告框 -->
      <div class="modal fade" id="confirmDeleteDialog" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog confirm-delete-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                确认删除吗？
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" (click)="removeItems()">确认</button>
              </div>
            </div>
          </div>
        </div>
      </div>

