
.teacher-finance-add-modify-dialog-content{
    width: 700px;
}

.teacher-finance-add-modify-dialog-content .row{
    display: flex;
    margin-right: 0;
}

.teacher-finance-add-modify-dialog-content .col-form-label{
    margin-right: 20px;
    text-align: right;
    display: inline-block;
    width: 80px;
}

.teacher-finance-add-modify-dialog-content .col-form-control{
    display: inline-block;
    flex: 1;
}