<div class="container-fluid">
    <table id="userMngTable" data-toggle="table">
    </table>
    <div id="toolbar">
        <span class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(true)"><a class="fa fa-plus"></a> 新增</span>
        <span id="modifyBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(false)"><a class="fa fa-pencil-alt"></a> 修改</span>
        <span id="deleteBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="removeItems()"><a class="fa fa-times"></a> 删除</span>
      </div>

      <div class="modal fade" id="addOrModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">{{addModifyDialogTitle}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="userForm" >
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="form-group row">
                      <label for="usernameInput" class="col-sm-2 col-form-label col-form-label-sm">用户名</label>
                      <div class="col-sm-10">
                        <input type="text" id="usernameInput" class="form-control form-control-sm form-control form-control-sm-sm"  formControlName="userName" [(ngModel)]="addOrModifyRowData.username">
                        <div *ngIf="formErrors.userName" class="showerr alert-danger" >{{ formErrors.userName }}</div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="authoritySelect" class="col-sm-2 col-form-label col-form-label-sm">权限</label>
                      <div class="col-sm-10">
                          <select id="authoritySelect" class="form-control form-control-sm" formControlName="authority" [(ngModel)]="addOrModifyRowData.authority">
                              <option selected>可读/可写</option>
                              <option>只读</option>
                            </select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="psdInput" class="col-sm-2 col-form-label col-form-label-sm">密码</label>
                      <div class="col-sm-10">
                        <input type="password" id="psdInput" class="form-control form-control-sm userPsd"  formControlName="userPsd" [(ngModel)]="addOrModifyRowData.psd">
                      <div *ngIf="formErrors.userPsd" class="showerr alert-danger" >{{ formErrors.userPsd }}</div>
                      </div>
                  </div>
                  <div class="row">
                        <label for="psdConfirmInput" class="col-sm-2 col-form-label col-form-label-sm">确认密码</label>
                        <div class="col-sm-10">
                      <input type="password" id="psdConfirmInput" class="form-control form-control-sm userPsdRepeat"  formControlName="userPsdRepeat">
                      <div *ngIf="formErrors.userPsdRepeat" class="showerr alert-danger" >{{ formErrors.userPsdRepeat }}</div>
                      </div>
                  </div>
                  </div>
    
                </div>
    
            </form>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm" (click)="onSubmit()">{{isAdd?"新增":"修改"}}</button>

            </div>
          </div>
        </div>
</div>

