.user-add-modify-dialog-content{
    width: 550px;
}

.user-add-modify-dialog-content .row{
    display: flex;
    margin-right: 0;
}

.user-add-modify-dialog-content .user-form .col-form-label{
    margin-right: 20px;
    text-align: right;
    display: inline-block;
    width: 70px;
}

.user-add-modify-dialog-content .user-form .col-form-control{
    display: inline-block;
    flex: 1;
}