<div class="container-fluid">
  <table id="table" data-toggle="table">
  </table>
  <div id="toolbar">
    <span class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(true)"><a class="fa fa-plus"></a>
      新增</span>
    <span id="modifyBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="showModal(false)"><a
        class="fa fa-pencil-alt"></a> 修改</span>
    <span id="deleteBtn" class="btn btn-outline-primary btn-sm toolbar-icon" (click)="openConfirmDeleteDialog()"><a
        class="fa fa-times"></a> 删除</span>
  </div>

  <div class="modal fade" id="addOrModifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content user-add-modify-dialog-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{addModifyDialogTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="form">
          <div class="modal-body user-form">
            <div class="container-fluid">
              <div class="form-group row">
                <label for="usernameInput" class="col-form-label col-form-label-sm">用户名</label>
                <div class="col-form-control">
                  <input type="text" autocomplete="off" id="usernameInput"
                    class="form-control form-control-sm form-control form-control-sm-sm" formControlName="userName">
                  <div *ngIf="formErrors.userName" class="showerr alert-danger">{{ formErrors.userName }}</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="authoritySelect" class="col-form-label col-form-label-sm">权限</label>
                <div class="col-form-control">
                  <select id="authoritySelect" class="form-control form-control-sm" formControlName="authority">
                    <option selected value=''>请选择</option>
                    <option value='可读 可写'>可读 可写</option>
                    <option value='只读'>只读</option>
                  </select>
                  <div *ngIf="formErrors.authority" class="showerr alert-danger">{{ formErrors.authority }}</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="psdInput" class="col-form-label col-form-label-sm">密码</label>
                <div class="col-form-control">
                  <input type="password" autocomplete="off" id="psdInput" class="form-control form-control-sm userPsd"
                    formControlName="userPsd">
                  <div *ngIf="formErrors.userPsd" class="showerr alert-danger">{{ formErrors.userPsd }}</div>
                </div>
              </div>
              <div class="row">
                <label for="psdConfirmInput" class="col-form-label col-form-label-sm">确认密码</label>
                <div class="col-form-control">
                  <input type="password" id="psdConfirmInput" autocomplete="off"
                    class="form-control form-control-sm userPsdRepeat" formControlName="userPsd2">
                  <div *ngIf="formErrors.userPsd2" class="showerr alert-danger">{{ formErrors.userPsd2 }}</div>
                </div>
              </div>
            </div>

          </div>

        </form>
        <div class="modal-footer">
          <button id="submit-btn" type="submit" class="btn btn-outline-primary btn-sm"
            (click)="onSubmit()">{{isAdd?"新增":"修改"}}</button>

        </div>
      </div>
    </div>
  </div>

  <!-- 删除前的警告框 -->
  <div class="modal fade" id="confirmDeleteDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog confirm-delete-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          确认删除吗？
        </div>
        <div class="modal-footer">
          <span class="btn btn-outline-primary btn-sm" (click)="removeItems()">确认</span>
        </div>
      </div>
    </div>
  </div>
</div>