html,body{
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
}

.container-fluid{
    padding: 0;
}

.toolbar-icon {
    margin: 0 2px;
}

.toolbar-icon.disabled{
    pointer-events: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

.row {
    margin-bottom: 20px;
}

.textbox-label {
    width: 35px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.textbox-label-right {
    width: 80px;
}

.form-control {
    width: calc(100% - 55px);
    display: inline-block;
}

.form-control-right {
    width: calc(100% - 100px);
}