html,body{
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
}

.container-fluid{
    padding: 0;
}

.toolbar-icon {
    margin: 0 2px;
}

.toolbar-icon.disabled{
    pointer-events: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

.row {
    margin-bottom: 20px;
}

.textbox-label {
    width: 35px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.textbox-label-right {
    width: 80px;
}
.alert-danger{
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

.form-control {
    display: inline-block;
}

.form-control:focus{
    box-shadow: none;
}

.form-control-right {
    width: calc(100% - 100px);
}

.fixed-table-container{
    max-height: calc(100vh - 216px);
    overflow: auto;
    height: fit-content !important;
    padding-bottom: 0 !important;
    }

    .fixed-table-container .selected td{
        }

        .modal{
            color:black;
        }

        .bootstrap-table{
            font-size: 0.875rem;
        }
        .bootstrap-table .search .form-control{
            font-size: 0.875rem;
        }
        .bootstrap-table .search .form-control:focus{
            box-shadow: none;
        }
        .bootstrap-table .page-link{
            box-shadow: none;
        }
        .bootstrap-table .pagination-detail .btn{
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            box-shadow: none;
            color: #007bff;
            background-color: #fff;
        }

        .bootstrap-table .btn:hover{
            background-color: rgba(0, 123, 255, 1);
        }

        .bootstrap-table .pagination-detail .btn:hover{
            background-color: rgba(0, 123, 255, 1);
            border-color: #dee2e6;
            color: #fff;
        }

        .bootstrap-table .pagination-detail .btn:focus{
            box-shadow: none;
        }