.skin-black{
    padding: 8px;
    background-color: #262533;
    .navbar.navbar-expand-lg.navbar-light.bg-light{
        background-color: #2c2e42 !important;
        height: 70px;
        border-radius: 5px;
    }
    .navbar-nav .nav-link {
        color: rgba($color: #ffffff, $alpha: 0.7);
        font-size: 14px;
        line-height: 70px;
    }

    .navbar-nav .nav-link:hover {
        color: white;
        font-size: 14px;
    }

    .navbar-brand:hover {
        color: white;
    }

    .navbar-brand {
        color: white;
        float: left;
    }

    #sidebar{
        border-radius: 5px;
        background: #2c2e42;
        color: #5a647f;
        .active-link{
            color: #409EFF;

        }
        .sidebar-header{
            background: #262D35;

        }
        .toggleSidebarIcon{
            background-color: #2c2e42;

        }
    }
    .wrapper {
        height: calc(100% - 78px) !important;
        margin-top: 8px;
        border-radius: 5px;
        main{
            margin-left: 8px;
            background-color: #2c2e42;
            .bootstrap-table{
                color: rgba($color: #ffffff, $alpha: 0.7);
                .table{
                    color: rgba($color: #ffffff, $alpha: 0.7);
                        tr:hover{
                            color: inherit;
                            background-color: inherit;
                        }
                }
            }
        }
    }
    

    .btn{
        color: #409EFF;
        border-color: #409EFF; 
        &:hover{
            background-color: rgba($color: #409EFF, $alpha: 0.3) !important;
        }
    }
    .table-bordered{
        border: 1px solid #676a78 !important;
        th{
            border-bottom: 2px solid #676a78 !important;
        }
        td{
            border-bottom: 1px solid #676a78;
        }
    }

}

.skin-white{
    background-color: #ffffff;
    .login-view{
        .login-form{
            .btn{
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }
        }
    }
    .navbar.navbar-expand-lg.navbar-light.bg-light{
        background-color: #262d35 !important;
        height: 70px;
    }
    .navbar-nav .nav-link {
        color: rgba($color: #ffffff, $alpha: 0.7);
        font-size: 14px;
        line-height: 70px;
    }

    .navbar-nav .nav-link:hover {
        color: #ffffff;
        font-size: 14px;
    }

    .navbar-brand:hover {
        color: #ffffff;
    }

    .navbar-brand {
        color: #ffffff;
        float: left;
    }

    #sidebar{
        background: #f8f8f8;
        .active-link{
            color: #409EFF;

        }
        .sidebar-header{
            background: #262D35;

        }
        .toggleSidebarIcon{
            background-color: #2c2e42;

        }
    }
    main{
        .bootstrap-table{
           // color: rgba($color: #ffffff, $alpha: 0.7);
            .table{
               // color: rgba($color: #ffffff, $alpha: 0.7);
                    // tr:hover{
                    //     color: inherit;
                    //     background-color: inherit;
                    // }
            }
        }
    }

    .btn{
        color: #409EFF;
        border-color: #409EFF; 
        &:hover{
            background-color: rgba($color: #409EFF, $alpha: 0.3) !important;
        }
    }
    .table-bordered{
        border: 1px solid #676a78 !important;
        th{
            border-bottom: 2px solid #676a78 !important;
        }
        td{
            border-bottom: 1px solid #676a78;
        }
    }
}

.skin-red{

}