/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    height:calc(100% - 76px);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

main {
    width: calc(100% - 80px);
    padding: 20px;
    transition: all 0.3s;
    background-color: #262D35;
    color:white;
}