/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    height:calc(100% - 76px);
    position: relative;
    overflow: hidden;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

main {
    width: calc(100% - 80px);
    padding: 20px;
    transition: all 0.3s;
    background-color: #FFFFFF;
}

.toast-info{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -24px;
    background-color: #d4edda;
    padding: 0 80px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 9999;
}

.toast-success{
    background-color: #d4edda;
    color: #67c23a;
}

.toast-error{
    background-color: #f8d7da;
    color:#f56c6c;
}

.toast-show{
    top: 10px;
    opacity: 1;
}

